[submodule "wp"]
	path = wp
	url = https://github.com/WordPress/WordPress.git
[submodule "content/plugins/reconstruct"]
	path = content/plugins/reconstruct
	url = https://github.com/Villag/Reconstruct-Plugin.git
[submodule "content/themes/reconstruct"]
	path = content/themes/reconstruct
	url = https://github.com/Villag/Reconstruct-Theme.git
[submodule "content/themes/villag-home/core"]
	path = content/themes/villag-home/core
	url = https://github.com/justintadlock/hybrid-core.git
